RewriteEngine On
# Sesuaikan RewriteBase dengan nama folder di htdocs
RewriteBase /karirFinal/

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php/$1 [L]

# Bagian cPanel di bawah ini dimatikan karena hanya untuk hosting
# <IfModule mime_module>
#   AddHandler application/x-httpd-ea-php72 .php .php7 .phtml
# </IfModule>